@import '_reset';
@import 'https://fonts.googleapis.com/css?family=Open+Sans:300';


$font-size: 1.1rem;
$leading: 1.6 * $font-size;
$color-background: #fff;
$color-text: #555;

body {
   background-color: $color-background;
   color: $color-text;
   font: #{$font-size} / #{$leading} 'Open Sans', Verdana, Geneva, Helvetica sans-serif;
   margin: 0;
}

h1 {
   padding: {
      top: 2.5 * $font-size;
      bottom: 2.5 * $font-size;
   }
   font-size: 2 * $font-size;
   text-align: center;
}

form {
   font-size: $font-size;
   border: 1px solid darken($color-background, 5%);
   border-radius: 20px;
   box-shadow: darken($color-background, 6%) 5px 5px 5px;
   margin: 0 auto;
   padding: 50px;
   text-align: center;
   width: 460px;

   input {
      font: #{$font-size} / #{$leading} 'Open Sans', Verdana, Geneva, Helvetica sans-serif;
      color: $color-text;
      transition: 500ms;

      &:focus {
         box-shadow: 5px 5px 5px rgb(99, 100, 104);
      }

      &[type="email"] {
         height: 20px;
         margin: 8px 0;
         padding: $font-size;
         width: 250px;
      }
   }

   p {
      padding-right: 50px;
      text-align: right;
   }

   + p {
      line-height: 1.5;
      margin: 50px auto 0 auto;
      width: 500px;
   }
}

input,
textarea {
   border: 1px solid #aaa;
   border-radius: 10px;
   padding: 5px;
}

// The following rules only apply when an error related to MySQL is thrown in file
// index.php.
main#error {
   margin: 0 auto;
   padding: 1% 10%;
   width: 80%;

   h1 {
      margin: 0 0 1% 0;
   }


   p {
      padding: $leading 0;
   }

   li:before {
      content: "— ";
   }

   q, code {
      color: lighten(#f00, 10%);
      font: #{.9 * $font-size} / #{$leading} Menlo, monospace;
   }

   q:before {
      content: "“";
   }

   q:after {
      content: "”";
   }

   pre {
      white-space: pre-wrap;
      width: 88%;
      background-color: lighten(red, 44%);
      font: #{.9 * $font-size} / #{$leading} Menlo, monospace;
      margin: (2.125 * $font-size) auto;
      padding: 1.5 * $font-size;
   }
}
